<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.mytest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Zxl_01Activity">

        </activity>
        <activity android:name=".Zxl_02Acticity">

        </activity>
        <activity android:name=".Zxl_03Acticity">

        </activity>
        <activity android:name=".Zxl_04Acticity">

        </activity>
        <activity android:name=".Zxl_05Acticity">

        </activity>
        <activity android:name=".Zxl_06Activity">

        </activity>
        <activity android:name=".Zxl_07Activity"></activity>
        <activity android:name=".Zxl_08Activity"></activity>
        <activity android:name=".Zxl_09Activity"></activity>
        <activity android:name=".Zxl_10Activity"></activity>
        <activity android:name=".Zxl_11Activity"></activity>
        <activity android:name=".web"></activity>
        <activity android:name=".qq_Activity"></activity>
        <activity android:name=".Deng_Activity"></activity>
        <activity android:name=".jisuanqi_Activity"></activity>
        <activity android:name=".Feiji"></activity>
        <activity android:name=".login_Activity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Weather_Activity"></activity>
        <activity android:name=".Zxl_12Activity"></activity>
        <activity android:name=".Zxl_12Activity1"></activity>
        <activity android:name=".Zxl_13Activity"></activity>
        <activity android:name=".Zxl_14Activity"></activity>
        <activity android:name=".Zxl_15Actyvity">

        </activity>

        <activity android:name=".HomeWork_Activity"  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>